SERVER_PORT=8743
REDIRECT_URI=http://localhost:8743/auth

# Spotify
CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SCOPES=user-read-private,user-read-email,user-library-read,playlist-read-collaborative,playlist-read-private,user-read-private
